/* generals */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

.big_container{
    width: 63%;
    margin: 0 auto;
}

.small_container{
    width: 50%;
    margin: 0 auto;
}

body{
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5rem;
    font-size: 1.1rem;
}

ul{
    list-style: none;
}

li a{
    text-decoration: none;
}

.margin{
    margin-top: var(--space);
    margin-bottom: var(--space);
}

.margin_lg{
    margin-top: var(--space_lg);
    margin-bottom: var(--space_lg);
}

.padding{
    padding-top: var(--space);
    padding-bottom: var(--space);
}

.padding_sm{
    padding-top: var(--space_sm);
    padding-bottom: var(--space_sm);
}

.padding_xl{
    padding-top: var(--space_xl);
    padding-bottom: var(--space_xl);
}

.padding_lg{
    padding-top: var(--space_lg);
    padding-bottom: var(--space_lg);
}

.button{
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--button);
    color: white;
    text-decoration: none;
}

.button.light{
    background-color: white;
    color: black;
    border: 1px solid black;
}

h2{
    font-size: var(--space_lg);
    padding-bottom: var(--space);
}

h3{
    font-size: var(--space_md);
    padding-bottom: var(--space);
}

h4{
    padding-bottom: var(--space);
}

img{
    display: block;
    max-width: 100%;
}

.bg_lightblue{
    background-color: var(--lightblue);
}

/* roots */
:root{
    --button : #0061ff;
    --lightblue : #b4d0e7;
    --lightgreen : #a2d39b;
    --burgundy : #61082b;
    --darkred : #d5001f;
    --sky : #0093ce;
    --lightred : #ff1c1c;
    --blue : #0d2481;
    --yellow : #ffd830;
    --grey : #d0d0d3;
    --space_xl : 5rem;
    --space_lg : 2.5rem;
    --space_md : 1.5rem;
    --space : 1rem;
    --space_sm : 0.5rem;

}

/* temporary
.border{
    border: 2px dashed black;
}

.jumbotron{
    min-height: 800px;
}

.jumbotron_content{
    min-height: 500px;
}

section{
    min-height: 700px;
}

.grid img{
    min-height: 100px;
} */



/* header */
header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    height: var(--space_xl);
    background-color: white;
}

header nav{
    justify-content: space-between;
    transform: translate(0, 8%);
}

.navbar_left , .navbar_right{
    flex-basis: calc(100% /3);
    align-items: center;
    padding: 10px;
}

.navbar_right{
    flex-direction: row-reverse;
}

nav li{
    margin-left: var(--space);
    margin-right: var(--space);
}

/* main */
.jumbotron_content{
    margin-top: var(--space_xl);
}

.jumbo_left{
    flex-basis: calc(100% / 3);
}

.jumbo.right{
    position: relative;
}

.jumbotron_content img{
    width: 50%;
    position: absolute;
    right: var(--space_xl);
}

.fa-arrow-down{
    font-size: var(--space_lg);
    padding-top: var(--space_xl);
}

h1{
    font-size: var(--space_xl);
    font-weight: 800;
    line-height: 8rem;
}

.fatturazione{
    margin-right: var(--space_lg);
}

.selected{
    border-radius: 50%;
    display: inline-block;
    border: 4px solid var(--button);
    width: 20px;
    height: 20px;
    transform: translateY(22%);
}

.unselected{
    border-radius: 50%;
    display: inline-block;
    border: 2px solid var(--grey);
    width: 20px;
    height: 20px;
    transform: translateY(22%);
}

.gallery{
    font-size: 0.9rem;
}

.gallery .card{
    flex-basis: calc(100% - (var(--space)) / 3);
    align-self: stretch;
}

.bordered{
    border: 1px solid var(--grey);
}

.type{
    text-align: center;
}

.column{
    gap: var(--space_lg);
    align-items: baseline;
}

.row{
    margin-top: var(--space_lg);
}

.row_big .button{
    text-align: center;
    width: 100%;
}

.title_card{
    text-align: center;
    transform: translateY(20%);
    height: var(--space_lg);
}

.line{
    border-top: 1px solid var(--grey);
    width: 50px;
}

.cadenza{
    color: var(--grey);
}

.main_card{
    padding: var(--space_md);
    border-top: 1px solid var(--grey);
}

.bl{
    align-items: baseline;
}

.card i{
    padding-right: var(--space_sm);
}

.row_small .main_card{
    position: relative;
}

.row_small a{
    position: absolute;
    top: var(--space);
    right: var(--space_lg);
}

img.partner{
    height: 500px;
}

div.partner{
    align-self: flex-start;
    transform: translateY(var(--space_xl));
    padding: var(--space);
    margin-left: 2rem;
}

.grid{
    flex-wrap: wrap;
    gap: var(--space);
}

.card_grid{
    flex-basis: calc((100% - var(--space) * 2) / 3);
    padding-right: var(--space_lg);
}

.our_customer{
    width: 60%;
    line-height: 3rem;
}

.square{
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-bottom: 0;
}

.square_sm{
    flex-basis: calc(100vw / 6);
    width: calc(100vw / 6);
    height: calc(100vw / 6);
    justify-content: center;
    align-items: center;
    fill: white;
}

.square_lg{
    flex-basis: calc(100vw / 3 - 21px);
    width: calc(100vw / 3);
    height: calc(100vw / 3);
    background-color: #f5f5f5;
    padding-left: var(--space_xl);
    padding-right: var(--space_xl);
}

.square_left , .square_right{
    flex-wrap: wrap;
    flex-basis: calc(100vw / 3);
}

#s1{
    background-color: var(--lightgreen);
}

#s2{
    background-color: var(--burgundy);
}

#s3{
    background-color: var(--sky);
}

#s4{
    background-color: var(--lightred);
}

#s5{
    background-color: var(--darkred);
}

#s6{
    background-color: var(--lightblue);
}

#s7{
    background-color: var(--blue);
}

#s8{
    background-color: var(--yellow);
}

.square_lg img{
    width: 50%;
}

.customer{
    display: block;
    color: white;
}

.free_trial{
    justify-content: space-between;
    align-items: baseline;
}

.free_trial .button{
    background-color: white;
    color: black;
}

.free_trial h2{
    flex-basis: 60%;
    color: var(--burgundy);
    line-height: var(--space_lg);
}

.faq_container{
    justify-content: space-between;
}


.bottom{
    border-bottom: 1px solid var(--grey);
    padding-top: var(--space_lg);
    padding-bottom: var(--space_lg);
}

.hover{
    display: none;
}

.faq_container:hover .hover{
    display: inline;
}

.faq_container:hover .faq_icon::before{
    content: "\f077";
}

/* footer */
footer{
    background-color: black;
    color: white;
    
}

footer a{
    text-decoration: none;
    color: white;
    padding-top: var(--space);
    display: inline-block;
    font-size: var(--space);
}

.top_footer{
    justify-content: space-between;
}

.bottom_footer{
    font-size: var(--space);
    color: #999;
    align-items: baseline;
}

.bottom_footer p{
    padding: 0 var(--space_sm);
}

.fa-sort-up{
    align-self: flex-end;
}

.border_top{
    border-top: 1px solid white;
    width: 120px;
}